# Backend
fastapi
uvicorn
pydantic
requests

# ML & AI
pandas
numpy
scikit-learn
joblib
torch
tensorflow     # optional
transformers

# Frontend
streamlit
matplotlib
seaborn
plotly

# Deployment
boto3
python-dotenv

# Testing
pytest
httpx
